/*style.css*/

.red-text {
    color: red;
}
h1 {
    font-size: 5rem;
    font-family: 'Comic Sans MS';
}
h2 {
    font-family: 'Playfair Display', sans-serif;
}
p {
    font-size: 2rem;
}
.fair-img {
    width: 10rem;
    border-color: pink;
    border-width: 1rem;
    border-style: dashed;
    border-radius: 50%;
}
.gray-back {
    background-color: antiquewhite;
}
#header {
    border-color:blueviolet;
    border-width: 1rem;
    border-style:double;

}